# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [453]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [419]:
list_of_students = []

for i in range(10):
    students_info = pd.read_csv(f"/Users/slitasov/Downloads/Data/Students_info_{i}.csv") # путь до файла с инфой о студентах
    students_marks = pd.read_csv(f"/Users/slitasov/Downloads/Data/Students_marks_{i}.csv") # путь до файла с оценками студентов
    student = pd.merge(students_info, students_marks, on = 'index')
    list_of_students.append(student)
df = pd.concat(list_of_students)
df.index = list(range(1000))
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [420]:
df.drop('index', axis = 1, inplace = True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [421]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [422]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [423]:
df.isnull().any().any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [424]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [425]:
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [426]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [427]:
df.rename(columns = {'parental level of education' : 'education', 'test preparation course' : 'test preparation'}, inplace = True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [428]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [434]:
print('Доля сдавших экзамен по математике')
print(((df['math score'] >= passmark).sum()) / df.shape[0])
print()
print('Доля, проходивших курс и сдавших экзамен по математике')
print((df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)].shape[0])/(df['test preparation'] == 'completed').sum())
print()
print('Доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике ')
print(df[(df['test preparation'] != 'completed') & (df['math score'] < passmark) & (df['gender'] == 'female')].shape[0] / df[(df['gender'] == 'female') & (df['test preparation'] != 'completed')].shape[0])

Доля сдавших экзамен по математике
0.865

Доля, проходивших курс и сдавших экзамен по математике
0.9217877094972067

Доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике
0.20958083832335328

In [435]:
(df['test preparation'] == 'completed').sum()

358

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [446]:
import time
start_time1 = time.time()
print('Для каждой этнической группы выведите средний балл за экзамен по чтению')
print(df.groupby('race/ethnicity').mean()['reading score'])
time_1_1 = time.time() - start_time1
print(f'time = {time_1_1}')
print()

Для каждой этнической группы выведите средний балл за экзамен по чтению
race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
time = 0.0057260990142822266

In [459]:
start_time2 = time.time()
print('Для каждого уровня образования выведите минимальный балл за экзамен по письму')
print(df.groupby('education')['writing score'].apply(np.min))
time_1_2 = time.time() - start_time2
print(f'time = {time_1_2}')

Для каждого уровня образования выведите минимальный балл за экзамен по письму
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
time = 0.007517099380493164

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [517]:
# Задание 1
start_time = time.time()
print('Для каждой этнической группы выведите средний балл за экзамен по чтению')
table = df.to_dict()
length = len(table['race/ethnicity'])
for i in (set(table['race/ethnicity'].values())):
    count = 0
    summa = 0
    for q in range(length):
        if table['race/ethnicity'][q] == i:
            summa += table['reading score'][q]
            count +=1 
    average = summa / count
    print(i, average)
time_2_1 = time.time() - start_time
print(f'time = {time_2_1}')
print()

# Задание 2
start_time = time.time()
table = df.to_dict()
length = len(table['education'])
for i in (set(table['education'].values())):
    minim = 10000
    for q in range(length):
        if table['education'][q] == i:
            if table['writing score'][q] < minim:
                minim = table['writing score'][q] 
    print(i, minim)
time_2_2 = time.time() - start_time
print(f'time = {time_2_2}')
print()


print('Посмотрим на разницу по времени') 
print(f'Первая задача заняла в {time_2_1/time_1_1} раз больше времени при работе с циклами')
print(f'Вторая задача заняла в {time_2_2/time_1_2} раз больше времени при работе с циклами')

Для каждой этнической группы выведите средний балл за экзамен по чтению
group E 73.02857142857142
group C 69.10344827586206
group B 67.35263157894737
group A 64.67415730337079
group D 70.03053435114504
time = 0.022354841232299805

some high school 10
master's degree 46
some college 19
associate's degree 35
high school 15
bachelor's degree 38
time = 0.023821115493774414

Посмотрим на разницу по времени
Первая задача заняла в 3.9040263146937586 раз больше времени при работе с циклами
Вторая задача заняла в 3.1689238478860733 раз больше времени при работе с циклами

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [463]:
pivot = pd.pivot_table(data = df, index = ['gender', 'education'])
pivot

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [464]:
df['Math_PassStatus'] = 'F'
df.loc[df['math score'] >= passmark , 'Math_PassStatus'] = 'P'
p_math = (df[df['Math_PassStatus'] == 'P']).shape[0]
f_math = (df[df['Math_PassStatus'] == 'F']).shape[0]
print(f'passed math - {p_math}')
print(f'failed math - {f_math}')
print()
df['Read_PassStatus'] = 'F'
df.loc[df['reading score'] >= passmark , 'Read_PassStatus'] = 'P'
p_math = (df[df['Read_PassStatus'] == 'P']).shape[0]
f_math = (df[df['Read_PassStatus'] == 'F']).shape[0]
print(f'passed reading - {p_math}')
print(f'failed reading - {f_math}')
print()
df['Write_PassStatus'] = 'F'
df.loc[df['writing score'] >= passmark , 'Write_PassStatus'] = 'P'
p_math = (df[df['Write_PassStatus'] == 'P']).shape[0]
f_math = (df[df['Write_PassStatus'] == 'F']).shape[0]
print(f'passed writing - {p_math}')
print(f'failed writing - {f_math}')
print()

passed math - 865
failed math - 135

passed reading - 910
failed reading - 90

passed writing - 886
failed writing - 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [465]:
df['OverAll_PassStatus'] = 'P'
df.loc[df['Math_PassStatus'] == 'F' , 'OverAll_PassStatus'] = 'F'
df.loc[df['Read_PassStatus'] == 'F' , 'OverAll_PassStatus'] = 'F'
df.loc[df['Write_PassStatus'] == 'F' , 'OverAll_PassStatus'] = 'F'
print('Количество студентов, которые сдали все экзамены')
(df['OverAll_PassStatus'] == 'P').sum()

Количество студентов, которые сдали все экзамены

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [466]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return "A"
    elif average_mark >= 80:
        return "B"
    elif average_mark >= 70:
        return "C"
    elif average_mark >= 60:
        return "D"
    elif average_mark >= 50:
        return "E"
    else:
        return "F"

In [468]:
df['Grade'] = ((df['math score'] + df['reading score'] + df['writing score'])/3).apply(GetGrade)

In [469]:
tableofgrades = df['Grade'].value_counts()
tableofgrades.sort_values()

A     52
F    103
B    146
E    182
D    256
C    261
Name: Grade, dtype: int64

In [470]:
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Read_PassStatus,Write_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B